# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Pickle files (optional if you don't want to track)
*.pkl

# Streamlit cache
.cache/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Ignore any sensitive keys
*.key
*.pem